.pageTitle{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: left;
    align-self: flex-start;
    padding-bottom: 40px;
}

.cart-container{
    display: flex;
    flex-direction: column;
}

.cart-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}