.pageBody{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px 30px;
}

.productsContainer{
    display: flex;
    column-gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
}