/* :root {
    --white: #FDFFEF;
    --yellow: #F9C203;
    --green: #45A700;
    --red: #D00825;
    --pink: #D16666;
    --maroon: #AD3B53;
    --lime-green: #A9B31F;
    --dark-green: #037805;
    --black: #091706;
} */

.container {
    background-color: var(--pink);
    color: var(--white);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    padding: 20px 30px;
    max-width: 100%; 
}

.title {
    font-family: 'Righteous', serif;
    font-size: 2.8125rem;
}

.navigation {
    column-gap: 10px;
    color: var(--white);
    display: flex;
    padding: 0 15px 0 0;
}

.link{
    color: var(--white);
    font-family: 'Righteous', serif;
    font-size: 1.25rem;
    text-decoration: none;
}

.link:hover{
    cursor: pointer;
    text-decoration: underline;
}